{
  "id": "example_facebook_ui_box",
  "platforms": ["facebook", "instagram"],
  "match": "**/*.html",
  "extract": {
    "items": {
      "select": "div.uiBoxWhite",
      "take": "list",
      "fields": {
        "author": {"select": "div._a6-h", "take": "text"},
        "body": {"select": "div._a6-p", "take": "text"},
        "timestamp": {"select": "div._a6-o", "take": "text"}
      }
    }
  }
}
