<form class="representation form form--narrow representation-form"
      hx-post="{% url 'representations:edit' representation.pk %}"
      hx-target="this"
      hx-swap="outerHTML">
  <h2>Edit {{ representation }}</h2>
  {% include "includes/form.html" %}
  <button type="submit" class="btn btn--small">Save</button>
  <button type="button"
          class="link-button"
          hx-get="{% url 'representations:details' representation.pk %}"
          hx-target="closest .representation"
          hx-swap="outerHTML">Cancel</button>
</form>
