@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $color-border;

  @include spacing(2);
}
